* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: cyan;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .container .sec {
  margin-right: 30px;
}

footer .container .sec.aboutus {
  width: 40%;
}
footer .container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: red;
}
footer .container .sec.aboutus p {
  color: #999;
}

.sci {
  margin-top: 20px;
  display: flex;
}

li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background: #222;
  border-radius: 4px;
}

.sci li a:hover {
  background: cyan;
}

.sci li a .bi {
  color: #fff;
  font-size: 20px;
}

.quicklinks {
  position: relative;
  width: 25%;
}

.quicklinks ul li a {
  color: #999;
  margin-bottom: 10px;
  display: inline-block;
}
.quicklinks ul li a:hover {
  color: #fff;
}
