* {
  box-sizing: border-box;
}

.searchbox {
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1;
}

.searchbox .search {
  position: relative;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}

.searchbox.active {
  width: 360px;
}

.searchbox .close {
  position: relative;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  cursor: pointer;
  scale: 0;
  transition: 0.5s;
}

.searchbox.active .close {
  scale: 1;
  transition-delay: 0.5s;
}

.searchbox .search input {
  position: absolute;
  left: 60px;
  width: calc(100% - 20px);
  height: 100%;
  line-height: 60px;
}
.searchbox .searchinput input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.25em;
}
.searchbox .searchinput input.active {
  transform: translateX(-100px);
}

.header {
  margin: 0 auto;
  padding: 2rem;
  height: 800px;
  width: 100%;
  background: transparent;
}

.header .konten {
  display: flex;
  padding: 5rem;
  height: 650px;
  width: 100%;
  border-radius: 12px;
  background: transparent;
}

.header .konten img {
  display: flex;
  border-radius: 15px;
  height: 500px;
}

.text-pencarian {
  position: absolute;
  left: 53rem;
  height: 60px;
  width: 100%;
  font-weight: 600;
  padding: 1rem;
  background: #fff;
}

.konten-text {
  position: absolute;
  display: inline-block;
  top: 12rem;
  background: transparent;
  padding: 4rem;
  right: 0;
  font-size: 16px;
}

.konten-text h2 {
  color: black;
  font-size: 35px;
}
.konten-text p {
  color: rgb(5, 5, 5);
  font-weight: 600;
  width: 600px;
  font-size: 19px;
}

.for-you {
  justify-content: center;
  margin-bottom: 3rem;
  display: flex;
  gap: 20px;
  height: 500px;
  width: 100%;
  flex-wrap: wrap;
}

.news-headline {
  position: relative;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 2rem;
  height: 50px;
  width: 100%;
  flex-wrap: wrap;
}

.news-headline p {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 600;
  justify-content: flex-start;
  letter-spacing: 7px;
}
.news-headline a {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  justify-content: flex-end;
}

.for-you .news {
  display: flex;
  flex-direction: column;
  height: 455px;
  width: 430px;
  margin-bottom: 3.5em;
  border-radius: 2px;
  box-shadow: 13px 11px 9px -4px rgba(117, 117, 117, 0.4);
  -webkit-box-shadow: 13px 11px 9px -4px rgba(117, 117, 117, 0.4);
  -moz-box-shadow: 13px 11px 9px -4px rgba(117, 117, 117, 0.4);
}
.for-you .news .text {
  margin-top: 0.8rem;
  margin-left: -0.7rem;
}
.for-you .news .text h2 {
  font-size: 15px;
  margin-left: 2em;
  font-weight: 500;
}
.for-you .news .text p {
  font-size: 12px;
  padding-left: -10rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-bottom: 0.5em;
}
.for-you .news .text hr {
  margin-bottom: -100rem;
}
.for-you .news img {
  height: 300px;
  border-radius: 15px;
}

.footer {
  position: absolute;
  z-index: 2;
  display: flex;
  height: 230px;
  width: 100%;
  margin: 0 auto;
  bottom: -102rem;
  margin-right: 2rem;
  padding: 2rem;
  gap: 2rem;
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(10, 0, 164, 1) 0%, rgba(19, 0, 190, 1) 22%, rgba(0, 52, 255, 1) 78%, rgba(0, 68, 255, 1) 100%);
}
.footer .footer-page {
  margin-top: 2rem;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  width: 150px;
  background-color: transparent;
}

.footer .footer-page ul li a {
  color: rgb(219, 219, 219) f;
  font-size: 16px;
}
.footer .footer-page p,
ul li a {
  color: rgb(219, 219, 219);
  font-size: 16px;
}
.footer .footer-event {
  margin-top: 2rem;
  height: 200px;
  display: flex;
  width: 200px;
  background-color: transparent;
}
.footer .footer-faq {
  margin-top: 2rem;
  height: 200px;
  justify-content: flex-end;

  display: flex;
  width: 200px;
  background-color: transparent;
}

.footer .footer-sci p {
  font-size: 18px;
  color: rgb(219, 219, 219);
}

.footer .heading {
  font-size: 18px;
  color: rgb(219, 219, 219);
}
.footer .footer-page .heading {
  font-size: 18px;
  color: rgb(219, 219, 219);
}
.footer .footer-sci i {
  display: flex;

  margin-top: 1rem;
  font-size: 18px;
  margin-right: 1.2rem;
}
.footer .footer-sci .sci {
  display: flex;
}
.footer .footer-sci {
  margin-top: 2rem;
  height: 200px;
  justify-content: flex-end;

  display: inline-block;
  width: 200px;
  background-color: transparent;
}
.heading-po {
  position: absolute;
  padding: 3rem;
  font-size: 35px;
  color: white;
  font-weight: 800;
  top: 12%;
  z-index: 1;
}
.paragraph-po {
  position: absolute;
  padding: 3rem;
  font-size: 15px;
  color: white;
  font-weight: 800;
  top: 25%;
  width: 500px;
  z-index: 1;
}

.img-i {
  background: linear-gradient(105.43deg, rgba(51, 125, 191, 0.9) 0%, rgba(203, 229, 254, 0.9) 100%);
}

.ending {
  display: flex;
  position: absolute;
  bottom: -103rem;
  padding: 1rem;
  color: white;
  width: 100%;
  z-index: 2;
  background-color: rgb(10, 0, 164);
}
@media screen and (min-width: 768px) {
  * {
    font-size: 13px;
  }
  #badan section {
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
    color: #111;
    width: 550px;
    z-index: 100;
    flex-flow: wrap;
  }
  #header {
    clip-path: polygon(40% 0, 68% 26%, 55% 66%, 0 73%, 0 100%, 45% 100%, 100% 100%, 100% 80%, 100% 48%, 100% 20%, 100% 0, 52% 0);
  }
}
@media screen and (max-width: 767px) {
  * {
    font-size: 11px;
  }

  .img-phone {
    position: absolute;
    top: 21rem;
    right: 10rem;
    height: 300px;
  }

  #badan section {
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
    color: #111;
    width: 450px;
    z-index: 100;
    flex-flow: wrap;
  }
  #header {
    clip-path: polygon(100% 20%, 78% 86%, 44% 78%, 0 100%, 0 100%, 32% 100%, 66% 100%, 100% 100%, 100% 76%, 100% 0, 100% 0, 100% 0);
  }
  .konten #container .img-banner {
    margin-top: 3rem;
    height: 300px;
    width: 100%;
    border-radius: 2rem;
    background: linear-gradient(0deg, rgba(10, 0, 164, 1) 0%, rgba(19, 0, 190, 1) 22%, rgba(0, 52, 255, 1) 78%, rgba(0, 68, 255, 1) 100%);
    z-index: 5;
  }
  .konten #container .img-banner .img1 {
    margin-top: 3rem;
    height: 300px;
    width: 100%;
    display: none;
    z-index: 5;
  }

  .footer {
    display: flex;
    bottom: -340rem;
    flex-direction: column;
    gap: 20px;
    height: 500px;
  }
  .badann {
    margin-top: 80rem;
  }
  .ending {
    position: relative;
    display: flex;
    bottom: -329rem;
    flex-direction: column;
  }
}
